body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}
button:hover {
    background-color: #0056b3;
}
#mainContent {
    display: none;
}

table, th, td {
    border:1px solid black;
  }